{
    ApplicationDescription = "A map editor for QuakeForge";
    ApplicationIcon = "Forge.tiff";
    ApplicationName = Forge;
    ApplicationRelease = "0.1.0 (Development)";
    ApplicationURL = "http://www.quakeforge.net/Forge/";
    Authors = (
	"Jeff Teunissen <deek@d2dc.net>",
    );
    Copyright = "Copyright (C) 2001 Dusk To Dawn Computing";
    CopyrightDescription = "This program is released under the GNU General Public License";
    FullVersionID = "0.1.0 (Development)";
}
