{
    ApplicationDescription = "A game editor for QuakeForge";
    ApplicationIcon = "Forge.tiff";
    ApplicationName = Forge;
    ApplicationRelease = "0.1.0 (Development)";
    ApplicationURL = "http://www.quakeforge.net/Forge/";
    Authors = (
	"Jeff Teunissen <deek@d2dc.net>",
    );
    Copyright = "Copyright (C) 2001 Dusk To Dawn Computing, Inc.";
    CopyrightDescription = "Released under the GNU GPL. See COPYING for details.";
    FullVersionID = "0.1.0 (Development)";
}
