.vimrc
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
changelog-stamp
compile
config.cache
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
quakeforge-config
quakeforge.lsm
