.vimrc
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
changelog-stamp
config.cache
config.log
config.status
configure
configure-stamp
install-sh
libtool
missing
mkinstalldirs
quakeforge-config
quakeforge.lsm
