{
	framebuffer = {
		renderPass = output;
		attachments = ($output.view);
		width = $output.extent.width;
		height = $output.extent.height;
		layers = 1;
	};
	clearValues = (
		{ color = "[0, 0, 0, 1]"; },	// output
	);
	attachment_template = {
		samples = 1;
		loadOp = dont_care;
		storeOp = dont_care;
		stencilLoadOp = dont_care;
		stencilStoreOp = dont_care;
		initialLayout = undefined;
		finalLayout = color_attachment_optimal;
	};
	info = {
		color = "[0.9, 0.9, 0.9, 1]";
		subpass_info = (
			{ name = compose; color = "[ 0.9,  0.9,  0.9, 1]" },
		);
	};
	renderpass = {
		attachments = (
			{
				@inherit = $properties.attachment_template;
				format = $output.format;
				loadOp = clear;
				storeOp = store;
				finalLayout = present_src_khr;
			},
		);
		subpasses = (
			{	// 0 output
				pipelineBindPoint = graphics;
				colorAttachments = (
					{	// output
						attachment = 0;
						layout = color_attachment_optimal;
					},
				);
			},
		);
	};
}
