clearValues = (
	{ depthStencil = { depth = 1; stencil = 0; }; },
);
info = {
	color = "[0.2, 0.2, 0.2, 1]";
	subpass_info = (
		{ name = depth;       color = "[ 0.5,  0.5,  0.5, 1]" },
	);
};
renderpass_base = {
	attachments = (
		{
			format = $output.format;
			samples = 1;
			loadOp = dont_care;
			storeOp = store;
			stencilLoadOp = dont_care;
			stencilStoreOp = dont_care;
			initialLayout = undefined;
			finalLayout = shader_read_only_optimal;
		},
	);
	subpasses = (
		{	// 0 depth
			pipelineBindPoint = graphics;
			depthStencilAttachment = {
				attachment = 0;
				layout = depth_stencil_attachment_optimal;
			};
		}
	);
};
renderpass_6 = {
	@inherit = $properties.renderpass_base;
	@next = (VkRenderPassMultiviewCreateInfo, {
		viewMasks = (0x0000003fu);
	});
};
renderpass_4 = {
	@inherit = $properties.renderpass_base;
	@next = (VkRenderPassMultiviewCreateInfo, {
		viewMasks = (0x0000000fu);
	});
};
renderpass_1 = {
	@inherit = $properties.renderpass_base;
	@next = (VkRenderPassMultiviewCreateInfo, {
		viewMasks = (0x00000001u);
	});
};
