samplers = {
	quakepic = {
		magFilter = nearest;
		minFilter = nearest;
		mipmapMode = nearest;
		addressModeU = clamp_to_edge;
		addressModeV = clamp_to_edge;
		addressModeW = clamp_to_edge;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = false;
		compareOp = always;
		minLod = 0;
		maxLod = 0;
		borderColor = float_transparent_black;
		unnormalizedCoordinates = false;
	};
	glyph = {
		magFilter = linear;
		minFilter = linear;
		mipmapMode = linear;
		addressModeU = clamp_to_edge;
		addressModeV = clamp_to_edge;
		addressModeW = clamp_to_edge;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = false;
		compareOp = always;
		minLod = 0;
		maxLod = 0;
		borderColor = float_transparent_black;
		unnormalizedCoordinates = false;
	};
	palette_sampler = {
		magFilter = nearest;
		minFilter = nearest;
		mipmapMode = nearest;
		addressModeU = clamp_to_edge;
		addressModeV = clamp_to_edge;
		addressModeW = clamp_to_edge;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = false;
		compareOp = always;
		minLod = 0;
		maxLod = 4;
		borderColor = float_transparent_black;
		unnormalizedCoordinates = false;
	};
	quakebsp_sampler = {
		magFilter = linear;
		minFilter = linear;
		mipmapMode = linear;
		addressModeU = repeat;
		addressModeV = repeat;
		addressModeW = repeat;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = false;
		compareOp = always;
		minLod = 0;
		maxLod = 4;
		borderColor = float_transparent_black;
		unnormalizedCoordinates = false;
	};
	qskin_sampler = {
		magFilter = linear;
		minFilter = linear;
		mipmapMode = linear;
		addressModeU = clamp_to_edge;
		addressModeV = clamp_to_edge;
		addressModeW = clamp_to_edge;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = false;
		compareOp = always;
		minLod = 0;
		maxLod = 1000;
		borderColor = float_transparent_black;
		unnormalizedCoordinates = false;
	};
	sprite_sampler = {
		magFilter = linear;
		minFilter = linear;
		mipmapMode = linear;
		addressModeU = clamp_to_edge;
		addressModeV = clamp_to_edge;
		addressModeW = clamp_to_edge;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = false;
		compareOp = always;
		minLod = 0;
		maxLod = 1000;
		borderColor = float_transparent_black;
		unnormalizedCoordinates = false;
	};
	shadow_sampler = {
		magFilter = linear;
		minFilter = linear;
		mipmapMode = linear;
		addressModeU = clamp_to_edge;
		addressModeV = clamp_to_edge;
		addressModeW = clamp_to_edge;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = true;
		compareOp = greater_or_equal;
		minLod = 0;
		maxLod = 1000;
		borderColor = float_opaque_white;
		unnormalizedCoordinates = false;
	};
	linear = {
		magFilter = linear;
		minFilter = linear;
		mipmapMode = linear;
		addressModeU = clamp_to_edge;
		addressModeV = clamp_to_edge;
		addressModeW = clamp_to_edge;
		mipLodBias = 0;
		anisotropyEnable = false;
		maxAnisotropy = 0;
		compareEnable = false;
		compareOp = always;
		minLod = 0;
		maxLod = 0;
		borderColor = float_transparent_black;
		unnormalizedCoordinates = false;
	};
};
