*.a
*.d
*.i
*.o
*.obj
*.s
.deps
.libs
.vimrc
Makefile
Makefile.in
client.exe
fbset_modes_l.c
fbset_modes_y.c
fbset_modes_y.h
qw-client-3dfx
qw-client-3dfx.exe
qw-client-fbdev
qw-client-glx
qw-client-glx.exe
qw-client-sdl
qw-client-sdl.exe
qw-client-sgl
qw-client-sgl.exe
qw-client-svga
qw-client-svga.exe
qw-client-x11
qw-client-x11.exe
qw-server
qw-server.exe
