*.a
*.d
*.i
*.o
*.obj
*.s
.deps
.vimrc
Makefile
Makefile.in
client.exe
qf-client-3dfx
qf-client-3dfx.exe
qf-client-ggi
qf-client-ggi.exe
qf-client-glx
qf-client-glx.exe
qf-client-sdl
qf-client-sdl.exe
qf-client-sgl
qf-client-sgl.exe
qf-client-svga
qf-client-svga.exe
qf-client-x11
qf-client-x11.exe
qf-server
qf-server.exe
qwaq-client-3dfx
qwaq-client-3dfx.exe
qwaq-client-ggi
qwaq-client-ggi.exe
qwaq-client-glx
qwaq-client-glx.exe
qwaq-client-sdl
qwaq-client-sdl.exe
qwaq-client-sgl
qwaq-client-sgl.exe
qwaq-client-svga
qwaq-client-svga.exe
qwaq-client-x11
qwaq-client-x11.exe
qwaq-server
qwaq-server.exe
fbset_modes_y.c
fbset_modes_y.h
fbset_modes_l.c
qf-client-fbdev
