*.debhelper
*.substvars
Makefile
Makefile.in
files
qfcc
quakeforge
quakeforge-alsa
quakeforge-common
quakeforge-common.conffiles
quakeforge-dev
quakeforge-glx
quakeforge-libs-gl
quakeforge-libs-sw
quakeforge-maptools
quakeforge-oss
quakeforge-sdl
quakeforge-servers
quakeforge-sgl
quakeforge-stub
quakeforge-svga
quakeforge-utils
quakeforge-x11
tmp
