Source: quakeforge
Section: contrib/games
Priority: optional
Maintainer: Jeff Teunissen <deek@dusknet.dhs.org>
Standards-Version: 3.1.1

Package: quakeforge
Architecture: any
Depends: quake-game, quakeforge-common, qf-client
Suggests: qf-server
Description: First-person shooter Internet game - Fake package
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package only exists to depend on a server and a client.

Package: quakeforge-common
Architecture: any
Depends: quake-game
Description: First-person shooter Internet game - common files
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains files common to all QuakeForge packages.

Package: qf-client-sdl
Architecture: i386
Depends: ${shlibs:Depends}, libsdl1.1, quake-game
Suggests: joystick
Provides: qf-client
Description: First-person shooter Internet game - SDL client
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains the SDL version of the QuakeForge client.

Package: qf-client-svga
Architecture: i386
Depends: ${shlibs:Depends}, quake-game
Suggests: joystick
Provides: qf-client
Description: First-person shooter Internet game - SVGAlib client
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains the SVGAlib version of the QuakeForge client.

Package: qf-client-x11
Architecture: any
Depends: ${shlibs:Depends}, quake-game
Suggests: joystick
Provides: qf-client
Description: First-person shooter Internet game - X11 client
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains the X11 version of the QuakeForge client.

Package: qf-client-3dfx
Architecture: any
Depends: ${shlibs:Depends}, libgl1, quake-game
Conflicts: libglide3
Suggests: joystick
Provides: qf-client
Description: First-person shooter Internet game - Voodoo 1/2 Client
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains the Voodoo 1/2 version of the QuakeForge client. For
 Voodoo 3 and higher, use the GLX client.

Package: qf-client-glx
Architecture: any
Depends: ${shlibs:Depends}, libgl1, quake-game
Suggests: joystick
Provides: qf-client
Description: First-person shooter Internet game - GLX Client
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains the GLX version of the QuakeForge client.

Package: qf-client-sgl
Architecture: any
Depends: ${shlibs:Depends}, libsdl1.1 (>= 1.1.3), quake-game
Suggests: joystick
Provides: qf-client
Description: First-person shooter Internet game - SDL-GL client
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains the SDL-GL version of the QuakeForge client.

Package: qf-server
Architecture: any
Depends: ${shlibs:Depends}, quake-game
Suggests: joystick
Provides: qf-client
Description: First-person shooter Internet game - Server
 QuakeForge is a source port of Quake and QuakeWorld, the successors to id
 Software's very popular DOOM series. Its primary development goal is to
 remain compatible with the original games released by id Software while
 adding portability and optional extensions to enhance gameplay.
 .
 This package contains the QuakeForge server.
