[Desktop Entry]
Version=1.0

Type=Application

Name=QuakeForge QuakeWorld (GLX)
GenericName=QuakeWorld (GLX)
Comment=A first person shooter game
Comment[fr]=Un jeu de tir subjectif
Comment[it]=Sparatutto in prima persona
Icon=quake

Categories=Game;ActionGame;

Exec=qw-client-glx
TryExec=qw-client-glx
Terminal=false
StartupNotify=false
