[Desktop Entry]
Version=1.0

Type=Application

Name=QuakeForge (GLX)
GenericName=Quake (GLX)
Comment=A first person shooter game
Comment[fr]=Un jeu de tir subjectif
Comment[it]=Sparatutto in prima persona
Icon=quake

Categories=Game;ActionGame;

Exec=nq-glx
TryExec=nq-glx
Terminal=false
StartupNotify=false
