[Desktop Entry]
Version=1.0

Type=Application

Name=QuakeForge (SDL GL)
GenericName=Quake (SDL GL)
Comment=A first person shooter game
Comment[fr]=Un jeu de tir subjectif
Comment[it]=Sparatutto in prima persona
Icon=quake

Categories=SDL;Game;ActionGame;

Exec=nq-sgl
TryExec=nq-sgl
Terminal=false
StartupNotify=false
