[Desktop Entry]
Version=1.0

Type=Application

Name=QuakeForge QuakeWorld (SDL GL)
GenericName=QuakeWorld (SDL GL)
Comment=A first person shooter game
Comment[fr]=Un jeu de tir subjectif
Comment[it]=Sparatutto in prima persona
Icon=quake

Categories=SDL;Game;ActionGame;

Exec=qw-client-sgl
TryExec=qw-client-sgl
Terminal=false
StartupNotify=false
